.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.newlinks {
    margin-left: auto;
}

.newlinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.newlinks ul li {
    display: inline;
    margin-right: 10px;
}

.newlinks ul li a {
    text-decoration: none;
    color: white;
}

.newlinks ul li button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.newlinks ul li button:hover {
    background-color: #a04554;
}